@font-face{
    src:url("/static/fonts/AlexBrush-Regular.ttf");
    font-family: AlexBrush;
}

@font-face{
    src:url("/static/fonts/TheanoDidot-Regular.ttf");
    font-family: Didot;
}

:root{
    --primary: #f0f5f9;
    --secondary: #c9d6df;
    --tertiary: #091116;
    --quarternary:  #1e2022;
}
}


.primary {
    background-color: var(--primary)
}

.secondary {
    background-color: var(--primary)
}


.tertiary {
    background-color: var(--tertiary)
}

.quarternary {
    background-color: var(--quarternary)
}

.img-responsive {
    width: 100%;
    height: auto;
}

.logo {
    background-size:cover;
    background-image: url('/static/images/transparent.png');
    height:150px;
    width: 480px;
    margin: 0px auto;
}

.packages__deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.packages__shadow {
    box-shadow: 2px 5px 25px var(--tertiary);
    padding: 20px;
    margin: 25px;
    width: 400px ;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    transition: transform .5s ease-out ;
}

@media(max-width: 450px){
    .packages__shadow {
        width: 300px;
    }
}

.packages__shadow:hover{
    position: relative;
    z-index: 1;
    transform: scale(1.125);
}

.packages__shadow h5 {
    margin: 1.5rem;
}


.herotron {
    border-radius: 20px;
    height: 500px;
    box-shadow: 5px 5px 30px var(--tertiary);
    margin: 20px;
    border: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
}

@media(max-width: 900px){
    .herotron {
        background-image: url(/static/images/collage2.jpg);
    }
}

@media(min-width: 901px){
    .herotron {
        background-image: url(/static/images/collage.jpg);
    }
}


.herotron > div {
    background: linear-gradient(rgba(0,0,0, 0.1),rgba(0,0,0, 1));
    width: 100%;
    height: 100%;
    position: relative;
    animation: herotron-fade 1s ease-in  1;
}

@keyframes herotron-fade{
    from {opacity: 0;}
    to {opacity: 1;}
}


.herotron img{
    width: 50%;
    height: auto;
    position: absolute;
    bottom: 10px;
    left: 25%;
    filter: invert(100%);
    animation: logo-animation 1.5s ease-out 1;
}

@media(max-width: 900px){
    .herotron img{
        width: 100%;
        left: 0;
    }
}

@keyframes logo-animation{
    from{
        opacity: 0;
        bottom: -100px;
    }
    to{
        opacity: 1;
        bottom: 10px;
    }
}
.custom-deck {
    margin-top: 25px;
}

.about__container {
    border-radius: 25px;
    margin: 20px;
    box-shadow: 2px 5px 15px var(--tertiary);
}

#about__hero {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background-image: url(/static/images/gerald.jpg);
    background-size: cover;
    margin: 15vh auto;
    animation: roll-in 1.5s linear 1;
    position: relative;
}

@keyframes roll-in{
    0%{
        opacity: 0.1;
        left: -300px;
        transform: rotateZ(-180deg);
    }
    100%{
        opacity: 1;
        left: 0px;
    }
}

.typewriter h1{
    overflow: hidden;
    border-right: 4px solid #333;
    white-space: nowrap;
    margin: 0 auto;
    animation: 
        typing 5s steps(40, end) 2s,
        blink-caret 0.75s step-end infinite 2s;
}

@keyframes typing {
    from { width: 0}
    to { width: 100%;}
}

@keyframes blink-caret {
    from, to{ border-color: transparent}
    50% {border-color: #333;}
}

.testimonial-card {
    position: relative; 
    padding-bottom: 50px;
    width: 300px;
    margin: 25px auto;
    color: var(--quarternary);
}

@media(max-width: 680px){
    .testimonial__container-carousel {
        display: block;
    }

    .testimonial-card__content {
        padding: 25px; 
        box-shadow: 2px 3px 15px var(--tertiary);
        border-radius: 25px;
        background-color: white;
    }
    
    .testimonial__container-flex {
        display: none;
    }
}

@media(min-width: 681px){
    .testimonial__container-carousel {
        display: none;
    }
    
    .testimonial__container-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .testimonial-card__content {
        padding: 25px; 
        box-shadow: 2px 3px 15px var(--tertiary);
        border-radius: 25px;
        height: 100%;
        background-color: white;    
        display: flex;
        align-items: center;
    }
}




.testimonial-card__content i{
    color: var(--quarternary)

}

.testimonial-card__lower-icon{
    text-align: right;
}



.testimonial-card__image {
    background-size: cover;
    border-radius: 50px; 
    width: 100px;
    height: 100px;
    border: 5px solid white;
    z-index: 10;
    position: absolute;
    left: 100px;
    bottom: 0px
}



.custom-carousel {
    height: 50vh;
    background-size: cover;
    animation: 1s shutter;

}

.about-list {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.cc-container {
    background-color: black;
    height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.polaroid-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#widget-container {
    width: 500px;
}

#about-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.falling-text {
    position: relative;
}

.about__divider {
    border-left: 1px solid #ccc;
    min-height: 50vh;
    padding: 25px;
}

.about__divider p {
    font-size: 1.5rem;
}

.about__divider h1 {
    font-weight: 200;
}

@media(max-width: 400px){
    .about__divider h1{
        font-size: 1.5rem;
    }

    .typewriter h1{
        max-width: 300px;
    }
}

@media(min-width: 401px){
    .about__divider h1{
        font-size: 4rem;
    }
    .typewriter h1{
        max-width: 23rem;
    }
}



/*Animations */
.polaroid {
    width: 300px;
    height: 350px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 3px;
    margin: 40px auto;
    box-shadow: 2px 5px 10px #ccc;
    animation: drop 3s;
    transform: rotateZ(12deg);
    position: absolute;
    top: 0px;
    left: 0px;
}

.polaroid-content {
    /*background-color: black;*/
    background-image: url(/static/images/me.jpg);
    background-size:cover;
    height: 280px;
}


@keyframes drop{
    0%{
        opacity: 0;
        transform: scale(1.5);
    }

    100%{
        opacity: 1;
        transform: scale(1.0) rotateZ(12deg);
    }
}

.shutter-carousel {
    width: 100%;
    height: calc(100vh - 150px);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.shutter-carousel-image {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display:flex;
    justify-content: center;
}

.shutter-carousel-image img{
    width: auto;
    height: calc(100vh - 150px);
    display: inline-block;
    margin: 0px auto;
}

.shutter-animation {
    animation: 5s shutter infinite;
    animation-fill-mode: forwards;
}


@keyframes shutter {
    0% {
        width: calc(100vh - 150px);
        height: calc(100vh - 150px);
        border-radius: calc(50vh - 75px);
    }

    /* smallest 6*/
    5% {
        width: 60px;
        height: 60px;
        border-radius: 30px;
    }

    /* up to max-height */
    25% {
        width: calc(100vh - 150px);
        height: calc(100vh - 150px);
        border-radius: calc(50vh - 75px);
    }


    40% {
        width: 100vw;
        border-radius: 0px;
        height: 100%;
    }

    100% {
        transform: scale(1.5)
    }

}

.reveal-card {
    margin: 10px;
    min-width: 300px;
    height: 300px;
    width: 30%;
    position: relative;
    overflow: hidden;
}

.reveal-card:hover .reveal-text{
    top: 0px;
}

.reveal-card:hover .reveal-image{
    filter: blur(2px);
    transform: scale(1.5);
}

.reveal-image {
    height: 300px;
    width: 100%;
    background-size: cover;
    transition: filter .3s linear, transform .3s linear;
}

.reveal-text{
    padding: 10px;
    top: 250px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: top .3s linear;
    background-color: rgba(0,0,0, 0.5);
    color: white;
}

.text-heading {
    text-align: center;
    font-weight: 700;
}

.footer__link {
    text-decoration: none;
    color: var(--secondary);
    display: block;
    margin-bottom: 0.5rem;
}

.footer__link:hover {
    color: var(--primary);
}

.blog__heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.blog__aside {
    padding: 25px;
    border-radius: 10px;
    box-shadow: 2px 5px 20px var(--tertiary);
    margin: 20px;
}

.blog__post-card {
    padding: 20px;
    margin: 20px 30px;
    box-shadow: 0px 2px 4px #ccc;
    display: flex;
    flex-direction: row;
    background-color:white;
}

.blog__post-card:hover{
    position: relative;
    z-index: 1;
    transform: scale(1.125);
}

.blog__post-card img{
    width: 100%;
    height: auto;
    margin: -5px;
}

.blog__tag{
    width: fit-content;
    height: 2rem;
    margin-bottom: 10px;
    padding: 0.5rem;
    font-size: 0.75rem;
    color: #ffffee;
    background-color: var(--tertiary);
    border-radius: 1rem;
    transition: height 0.3s linear, background-color 0.3s linear ;

}

.blog__tag:hover {
    height: 3rem;
    font-size: 1.25rem;
    background-color: var(--quarternary);
}

.blog__author-card {
    height: 6rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--quarternary);
}

.blog__author-card--icon {
    flex: 1;
    background-size: cover;
    max-width: 6rem;
    padding: 0px;
    margin:0px;
    border-radius: 3rem;
}

.blog__author-card--name {
    font-size: 2rem;
    color: var(--quarternary);
    padding: 2rem;
}

.blog__p {
    font-size: 1rem;
    margin: 1rem 2rem;
}

.blog__b {
    color: #ffffee;
    background-color: var(--quarternary);
}

.blog__b:hover {
    color: #ffffee;
    background-color: var(--tertiary);
}

.blog__post h1 {
    font-family: Didot, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 4rem;
    font-weight: 200;
}

.blog__post h5 {
    font-family: Helvetica, Arial,  sans-serif;
    text-align: center;
    font-size: 1.5rem;
}

.blog__post img {
    width: 100%;
    height: auto;
}

.blog__post-content {
    font-size: 1.5rem;
    color: #555
}


@media(min-width: 751px){
.custom-nav img {
    width: 600px;
    height: 120px;
}

.custom-nav {
    height: 150px !important;
    font-size: 1.5rem;
}

}

@media(max-width: 750px){
    .custom-nav img {
        width: 300px;
        height: 60px;
    }

    .custom-nav{
        min-height: 100px;
    }
}

@media(max-width: 400px){
    .custom-nav img {
        width: 250px;
        height: 50px;
    }
}