.footer {
    background-color: #6a2c70;
    color: #f6ecbf;
    padding:10px;
    margin-top:10px;
    font-size:1rem;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.footer > div {
    flex: 1
}